apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: utej8553/demo-backend:latest
          ports:
            - containerPort: 8080
          env:
            - name: SPRING_DATASOURCE_URL
              value: jdbc:postgresql://postgres:5432/demo_db
            - name: SPRING_DATASOURCE_USERNAME
              value: demo_user
            - name: SPRING_DATASOURCE_PASSWORD
              value: demo_pass
